
body{
   margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.kaste {
    background-color: lightgrey;
    border-radius: 5px;
    width: 300px;
    padding: 40px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.row label {
    width: 70px;
    margin-right: 10px;
    text-align: right;
}

.row input {
    flex: 1;
    padding: 6px;
}

.kaste button {
    margin-left: auto;
    display: block;
}

